.with-btn{
  display: inline;
  width: 95%;
}
.addAddressBlock{
  margin: -5px 0 10px 0;
}
.form-group li {
  list-style-type: none;
}
.listContent{
  display: inline-block;
  margin: 5px 0 5px -65px;
}
.ngui-auto-complete ul li{
  background-color: black;
}

.warning{
  border: 1px #F1E377 solid;
}
