.with-btn{
  display: inline;
  width: 95%;
}
.with-btn-2{
  display: inline;
  width: 92%;
}
.addAddressBlock{
  margin: -5px 0 10px 0;
}
.form-group li {
  list-style-type: none;
}
.listContent{
  display: block;
  margin: 5px 0 5px -65px;
}
.showAddress {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.warning{
  border: 1px #F1E377 solid;
}
