.with-btn{
  display: inline;
  width: 95%;
}
.addAddressBlock{
  margin: -5px 0 10px 0;
}
.form-group li {
  list-style-type: none;
}
.listContent{
  display: inline-block;
  margin: 5px 0 5px -65px;
  width: 100%;
}
.editTemplateInput{
  display: inline !important;
  width: 90%;
  margin: 10px 0 0 25px;
}
.template-hide {
  display: none;
}
.showAddress {
  display: inline-block;
  width: 85%;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.error{
  border: 1px #B57878 solid;
}
.warning{
  border: 1px #F1E377 solid;
}
